.search-title{
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 6.5vh;
  font-family: 'Black Ops One';
}

.search{
  display: inline;
  position: absolute;
  left: 10%;
  top: 40%;
  width: 90%;
}

.search-bar{
  font-family: 'Black Ops One';
  width: 55%;
  height: 28px;
  border-radius: 2vw;
}

.go-button{
  text-align: center;
  font-size: 15px;
  background-color: #439A86;
  color: #222E50;
  font-family: 'Black Ops One';
  text-decoration: none;
  margin-left: 3%;
  padding: 6px 4vw;
  border-radius: 2vw;
}

.go-button:hover{
  cursor: pointer;
}
